# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
*.log
*.pdb
*.ilk
*.props
*.ipch
QtGuiApplication1/.vs/QtGuiApplication1/v16/.suo
*.opendb
*.db
